* {
  color: white;
}

.footer-back {
  background-image: url("../../assets/img/footerback.png"); /* Use url() for the image path */
  background-size: cover;
}

.rowsection {
  padding-top: 102px;
  display: flex;
  justify-content: center;
}

/* .rowsection {

} */

.ongoingList {
  display: flex;
  justify-content: space-between;
}

.ongoingList > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  display: inline-block;
  font-family: "Nunito Sans ExtraBold";
  font-size: 25px;
  line-height: 30px;
  color: #ddb091;
}
.emailArea {
  display: grid;
}

.inputArea {
  padding: 6px 6px;
  background: transparent;
  border: 2px solid #eef7f7;
  border-radius: 15px;
}

.btnSubmit {
  text-transform: uppercase;
  border-radius: 9px;
  width: 104px;
  background-color: #ddb091;
  border: none;
  padding: 8px 21px;
  margin-top: 5px;
}

.linkSection {
  justify-content: center;
  display: flex;
  gap: 29px;
  padding: 56px;
}

@media screen and (max-width: 991px) {
  .rowsection {
    gap: 40px;
    padding-top: 102px;
    display: flex;
    justify-content: start;
  }

  h3 {
    font-size: 23px;
    line-height: 28px;
  }
}
