* {
  color: white;
}

.footer-back {
  background-image: url("../../assets/img/footerback.png"); /* Use url() for the image path */
  background-size: cover;
}

.ongoingList {
  display: flex;
  justify-content: space-between;
}

.ongoingList > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  display: inline-block;
  font-family: "Nunito Sans ExtraBold";
  font-size: 21px;
  color: #ddb091;
}
.emailArea {
  display: grid;
}

.inputArea {
  padding: 4px 6px;
  background: transparent;
  border: 2px solid #eef7f7;
  border-radius: 7px;
}

.btnSubmit {
  margin-top: 4px;
  width: 50%;
  padding: 5px;
  background: #ddb091;
  border-radius: 6px;
  color: white;
}

.linkSection {
  justify-content: center;
  display: flex;
  gap: 29px;
  padding: 56px;
}

@media screen and (max-width: 991px) {
  .rowsection {
    gap: 42px;
  }
}
