.projects-plan-container {
  width: 645.15px;
  }
  
  .maps-imgs {
    padding: 5%;
    margin: 0px 0%;
    min-height: 322px;
  }

  .maps-imgs img {
    display: inline;
    width: auto;
    height: auto;
    max-width: 100%;
  }