*,
::after,
::before {
  box-sizing: border-box;
}

.header {
  background: #05273b;
  width: 100%;
}
.wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  display: flex;
  align-items: center;
}

.logos-1 {
  display: flex;
  align-items: center;
}

.logos > img,
.logos-1 > img,
.icons {
  max-width: 100%; /* Make all images responsive */
  height: auto; /* Maintain aspect ratio */
}

.links {
  display: flex;
  color: white;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  column-gap: 1vw;
  padding-right: 14px;
}

.img-2 {
  max-height: 120.8px;
}

.icon-1 {
  display: none; /* Hide the icon initially */
}

.icons {
  width: 8%;
}

@media screen and (max-width: 1020px) {
  .links {
    display: none;
  }
  .icon-1 {
    display: none; /* Display the icon on smaller screens */
  }
}
