@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.whyUs-top-img {
  width: 100%;
}

.main-why {
  background-color: #e3ddd8;
  width: 100%;
}

.why-heading {
  padding: 1rem;
  justify-content: flex-end;
  text-align: center;
  box-sizing: border-box;
  align-items: start;
}

/* 
.accordian-cover {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.item {
  background: transparent;
  margin-bottom: 5px;
  padding: 10px 20px;
}

/* .title {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;
} */

.content {
  width: 80%;
  color: black;
  max-height: 0; /* Add this to hide content by default */
  overflow: hidden; /* Add this to hide overflow content */
  transition: all 0.5s cubic-bezier(0, 1, 0, 1); /* Add this for smooth transition */
}

.content.show {
  width: 80%;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1); /* Add this to show content when selected */
}

.content > p {
  font-size: smaller;
  width: 90%;
  padding: 10px 0px;
}

.Experiance {
  width: 62%;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  /* background: #657b87; */
  color: white;
  background-image: "../../assets/img/whySection.png";
}

.bgClr {
  background-color: #647785;
  opacity: 0.7;
}

.heads {
  align-items: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  padding: 11px;
  color: #fff;
  display: flex;
  justify-content: center;
}

/* .main-ongoing {
  width: 90%;
  padding: 1rem;
  color: #c6c6c6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
} */

/* .ongoing-heading {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
} */

Video {
  border: 2px solid red;
}

.choose-us {
  padding-left: calc(1rem + 1vw);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translatex(-100%);
  }
}

.logos-slider {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.logos-slider:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  white-space: nowrap;
  animation: 20s slide infinite linear;
}

.images {
  height: 50px;
  margin: 0 40px;
}

@media screen and (max-width: 514px) {
  .why-heading {
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
  }

  .ongoing-heading {
    text-align: center;
    font-size: larger;
  }

  /* .title {
    font-size: 1.1rem;
  } */
}
/* @media screen and (max-width: 1069) {
  .title {
    font-size: 1.4rem;
  }
} */
