@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.whyUs-top-img {
  width: 100%;
}

.main-why {
  background-color: #e3ddd8;
  width: 100%;
}

.why-heading {
  animation: fadeIn linear;
  animation-range-start: 500px;
  animation-range-end: 300px;
  padding: 1rem;
  justify-content: flex-end;
  text-align: center;
  box-sizing: border-box;
  align-items: start;
}

.pb-240 {
  padding-bottom: 240px;
}

@keyframes fadeIn {
  from {
    opacity: 1;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item {
  background: transparent;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.content {
  width: 80%;
  color: black;
  max-height: 0; /* Add this to hide content by default */
  overflow: hidden; /* Add this to hide overflow content */
  transition: all 0.5s cubic-bezier(0, 1, 0, 1); /* Add this for smooth transition */
}

.content.show {
  width: 80%;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1); /* Add this to show content when selected */
}

.content > p {
  font-size: smaller;
  width: 90%;
  padding: 10px 0px;
}

.Experiance {
  background-image: url("../../assets/img/WhyUs.png");
  margin-top: -160px;
}

.bgClr {
  background-color: #647785;
  opacity: 0.7;
}
.expRow {
  padding: 50px 0px 50px 0px;
}

.heads {
  align-items: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  font-size:clamp(3.625rem, 3.286rem + 0.796vw, 4.813rem); 
  line-height: clamp(5.438rem, 5.317rem + 0.69vw, 5.938rem);
  padding: 11px;
  justify-content: center;
  margin: 0;
}
.peraExperiance {
  align-items: center;
  font-family: "NunitoSans-Regular";
  font-weight: 100;
  line-height: 34px;
  text-align: center;
  font-size: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0;
}

.ongoing-heading {
  text-align: center;
  font-size: clamp(2.75rem, 0.857rem + 9.464vw, 9.375rem);
}

Video {
  border: 2px solid red;
}

.choose-us {
  padding-left: 120px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translatex(-100%);
  }
}

.logos-slider {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.logos-slider:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  white-space: nowrap;
  animation: 20s slide infinite linear;
}

.images {
  height: 50px;
  margin: 0 40px;
}

.img-card {
  object-fit: cover;
}

@media screen and (max-width: 514px) {
  .why-heading {
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 720px) {
  .Experiance {
    width: 90%;
  }
}
