.SliderContainer {
  background-color: #cbcbcb;
  border-radius: 5px;
  min-height: 282px !important;
}

.SliderContainer h5 {
  text-transform: uppercase;
  color: #05273b;
}

.SliderContainer p {
  font-size: 16px;
  line-height: 22px;
}

.sliderRow {
  padding: 5%;
  margin: 0px 2%;
  min-height: 162px;
}

.innnerCard {
  padding: 5%;
  margin: 0px 2%;
  height: 282px !important;
  background-color: #cbcbcb;
  margin-bottom: 80px;
  border-radius: 8px;
}

.rowFirst {
  display: flex;
  align-items: center;
}

.tittleSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 10px;
}

.fs-18 {
  text-transform: uppercase;
  color: #05273b;
  font-family: "Gilroy Light";
  font-weight: 100;
  line-height: 23px;

  font-size: 18px;
}

.peragraphCard {
  scrollbar-width: thin;
  scrollbar-color: #05273b #ddb091;
  overflow-y: auto;

  margin-top: 19px;
  max-height: 132px;
}

.peragraph {
  color: #05273b;
}

@media screen and (max-width: 760) {
  .fs-18 {
    line-height: 20px;
    font-size: 18px;
  }
}
