.bg-1 {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.card-1 {
  margin-top: -12rem;
}

/* .card {
  height: fit-content;
  max-width: 950px;
  flex-direction: column;
  display: flex;
  color: var(--clr-text);
  border: 2px solid var(--clr-secondary);
  border-radius: 16px;
  background-color: var(--clr-primary);
  justify-content: center;
  align-items: center;
  /* Add the following lines to move the card 50% up */


