@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Playfair+Display&display=swap");

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --ff-body: "NunitoSans-Regular";
  --ff-heading: "Gilroy ExtraBold";
  --clr-primary: rgba(5, 39, 59, 0.6);
  --clr-secondary: #ddb091;
  --clr-text: #fff;
  --fs-xl: 5rem;
  --fs-600: 2rem;
  --fs-400: 1rem;
}

body {
  color: #6b6b6b;
  word-wrap: break-word;
  line-height: 1.7;
  font-size: 15px;
  font-family: var(--ff-body);
}

@font-face {
  font-family: "Gilroy ExtraBold";
  src: url(./assets/font/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: "Nunito Sans SemiBold";
  src: url(./assets/font/NunitoSans-SemiBold.ttf);
}
@font-face {
  font-family: "Nunito Sans ExtraBold";
  src: url(./assets/font/NunitoSans-ExtraBold.ttf);
}
@font-face {
  font-family: "Gilroy ExtraBold";
  src: url(./assets/font/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: "Gilroy Light";
  src: url(./assets/font/Gilroy-Light.otf);
}
@font-face {
  font-family: "NunitoSans Light";
  src: url(./assets/font/NunitoSans-Light.ttf);
}
@font-face {
  font-family: "NunitoSans-Regular";
  src: url(./assets/font/NunitoSans-Regular.ttf);
}

.body {
  overflow: hidden;
  background-color: #f8f8f8;
  font-family: "NunitoSans-Regular" !important;
}

.large-heading {
  font-family: "Gilroy ExtraBold";
  font-weight: 100;
  text-align: right;
  font-size: clamp(2.5rem, 0.841rem + 9.483vw, 9.375rem);
  line-height: clamp(4.125rem, 2.647rem + 8.448vw, 10.25rem);
  padding: 40px 0px 0px 0px;
  color: #c6c6c6;
  margin-bottom: 0px;
}
.small-headline {
  font-family: "Gilroy ExtraBold";
  font-weight: 100;
  color: #ce8f63;
  font-weight: 900;
  font-size: clamp(1.25rem, 0.83rem + 2.316vw, 2.313rem);
  padding-left: 115px;
}

.small-headline::before {
  content: "";
  background-color: #ce8f63;
  height: 2px;
  width: 114px;
  position: absolute;
  left: -0px;
  bottom: 50%;
}

.borderb {
  border-radius: 30px !important;
  font-size: clamp(1rem, 0.911rem + 0.446vw, 1.313rem);
  font-family: "Nunito Sans SemiBold";
  padding: 15px 25px;
  background: #ce8f63;
  color: #ffffff !important;
  border: 1px solid #ce8f63;
  text-decoration: none;
}
.homeAccordian .accordion-item {
  border: none;
}

.homeAccordian .accordion-body {
  width: 80%;
  color: #6b6b6b;
}

.homeAccordian .accordion-button {
  font-size: 25px !important;
  font-family: "Gilroy ExtraBold";
  font-weight: 400;
  background-color: transparent;
}

.homeAccordian .accordion-button::after {
  background-image: url("./assets/img/Accordian/add.png");
}
.homeAccordian .accordion-button:not(.collapsed)::after {
  background-image: url("./assets/img/Accordian/minus.png");
}
.accordion-button:not(.collapsed) {
  color: #000;
}

.accordion-button:focus {
  box-shadow: none;
}

@media screen and (max-width: 770px) {
  .small-headline::before {
    bottom: 16%;
  }
}
